.image1{
   background-image: url("space1.jpg"); 
   background-size: cover;
}

/* .card2{
    position: relative;
    top: 150px;
} */

@media (min-width: 576px) {.card2{
    position: relative;
    top: 150px;
}}